:root {
  --default-color: #000;
  --primary-color: #3FD2C7;
  --secondary-color: rgba(173, 216, 230, 1);
  --text-primary: #00458B;
  --text-primary-hover: red;
  //define your colors for text, backgrounds, boxshadows etc here
}

.theme-dark {
  --primary-color: green;
  --secondary-color: purple;
  //define your dark colors for text, backgrounds, boxshadows etc here
}