@use '../utils/variables' as *;

.addOn-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 240px;
  border: 0.5px solid $primary-color;
  border-radius: 25px;
  padding: 40px;
  // box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);
}

.addOn-end {
  text-align: end;
  font-weight: 700;
}