@use '../utils/variables' as *;

%btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  font-weight: 700;
  border-radius: 20px;
  // border: 2px solid $text-primary;
  background: $primary-color;
  color: $default-color;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    background: $text-primary;
    color: $default-color;
    filter: drop-shadow(1px 1px 5px $primary-color);
  }
}

.btn-primary {
  @extend %btn;
}

.btn-secondary {
  @extend %btn;
  background: inherit;
  border: none;
  color: $text-primary;

  &:hover {
    color: $text-primary;
    background: none;
  }
}

.btn-card {
  @extend %btn;
  width: 120px;
  height: 40px;
  padding: 6px 15px;
  align-self: flex-end;
  outline: none;
  border: none;
}