%btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  border-radius: 20px;
  background: grey;
  transition: background 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    background: darkgrey;
  }
}

.btn-primary {
  @extend %btn;
}

.btn-secondary {
  @extend %btn;
  background: rgba(0, 0, 0, 0.1);

  &:hover {
    background: green;
  }
}

.btn-card {
  @extend %btn;
  width: 120px;
  height: 40px;
  padding: 6px 15px;
  align-self: flex-end;
  outline: none;
  border: none;
}