@use '../utils/mixins';
@use '../utils/variables' as *;

.card {
  display: grid;
  background: white;
  padding: 40px;
  max-width: 320px;
  height: 800px;
  position: relative;
  box-shadow: 0 10px 20px 7px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}

.card-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 30px 0 30px;
}

.card-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.test {
  color: $text-primary-hover;

}

.mt-10 {
  @include mixins.mt-auto
}

.mt-20 {
  @include mixins.mt-auto(20px)
}

.card-ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  height: 100%;
  gap: 20px;
  padding: 20px;
  border-top: 1px solid black;

}

.card-features {
  display: flex;
  align-items: center;

  img {
    margin-right: 10px;
  }

}

.card-outline {
  position: absolute;
  background: $primary-color;
  width: 104%;
  height: 104%;
  top: -3%;
  left: -2%;
  border-radius: 25px;
  // box-shadow: 0 10px 20px 7px rgba(0, 0, 0, 0.2);
  z-index: -1;
}