@use '../utils/mixins';


.card {
  display: grid;
  // flex-direction: column;
  // justify-content: space-between;
  padding: 40px;
  max-width: 320px;
  height: 800px;
  border: 1px solid red;
  position: relative;
}

.card-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 30px 0 30px;
}

.mt-10 {
  @include mixins.mt-auto
}

.mt-20 {
  @include mixins.mt-auto(20px)
}

.card-outline {
  position: absolute;
  background: red;
  width: 104%;
  height: 104%;
  top: -3%;
  left: -2%;

  z-index: -1;
}