.contact-card-container {
  width: 100%;
  padding: 0 20px;
}

.contact-card {
  margin-top: 20px;
  width: 80%;

  p {
    margin: 20px 0;
  }
}

.divider {
  border: 1px solid grey;
  padding: 0 20px;
}