@use '../utils/variables' as *;

.desktop-nav {
  ul {
    display: flex;
    gap: 25px;
    list-style: none;
  }

  li {
    color: $link-primary;
    cursor: pointer;

    &:hover {
      color: $link-hover;
    }
  }
}

// Needs sign in\sign out styles
.desktop-auth {
  display: flex;
  gap: 10px;
}