@use '../utils/variables' as *;

.dropdown-container {
  display: flex;
  background: white;
  position: absolute;
  left: 0;
  right: 0;
  width: auto;
  min-height: 200px;
  box-shadow: 0 30px 20px 7px rgba(0, 0, 0, 0.2);
}

.dropdown-inner-container {
  display: grid;
  width: 100%;
  padding: 20px 0;
  grid-template-columns: repeat(4, 1fr);
}

.dropdown-headers {
  font-weight: 600;
  padding: 20px 0;
}

.dropdown-ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
  list-style: none;

  li {
    width: 75%;
    color: black;
    cursor: pointer;

    &:hover {
      color: $primary-color;
    }
  }

}