.faq-accordians-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;


  @media (min-width: 730px) {
    width: 60%;
  }
}

#faq1,
#faq2,
#faq3 {
  display: none;
}

//use for loops for this
#faq1:checked~.faq,
#faq2:checked~.faq,
#faq3:checked~.faq {
  max-height: 200px;
  transition: max-height 0.3s ease-in;
}

.faq {
  display: -ms-grid;
  padding-bottom: 0px;
  max-height: 0;
  overflow-y: hidden;
  transition: max-height 0.3s ease-out;
  z-index: 120;
}

.faq-ul {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  padding-bottom: 10px;
}

.faq-chevron {
  transform: rotate(0deg);
  transition: transform 0.2s ease-in-out;
}

.faq-chevron-open {
  transform: rotate(180deg);
  transition: transform 0.2s ease-in-out;
}