.faq-container {
  width: 100%;

  @media (min-width: 730px) {
    width: 60%;
  }
}

#faq1,
#faq2,
#faq3 {
  display: none;
}

//use for loops for this
#faq1:checked~.faq,
#faq2:checked~.faq,
#faq3:checked~.faq {
  height: 140px;
  opacity: 1;

  // padding: 0 10px 10px 10px
  @media(min-width: 730px) {
    height: 90px;
  }
}

.faq {
  display: -ms-grid;
  padding: 0;
  height: 0px;
  opacity: 0;
  overflow-y: hidden;
  transition: height .4s ease;
  z-index: 120;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.faq-ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
}

.faq-chevron {
  transform: rotate(0deg);
  transition: transform 0.2s ease-in-out;
}

.faq-chevron-open {
  transform: rotate(180deg);
  transition: transform 0.2s ease-in-out;
}