@use '../utils/variables' as *;

.faq-h2 {
  margin-bottom: 60px;
  text-align: center;

  @media (min-width: 730px) {
    text-align: start;
  }
}

.faq-img {
  display: none;
  color: $primary-color;

  @media (min-width: 730px) {
    display: block;
    position: absolute;
    right: 0;
    top: -90px
  }
}