.nav-container {
  position: fixed;
  min-width: 100%;
  min-height: 70px;
}

.nav-inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // position: relative;
  min-height: 70px;
}

.nav-border {
  border-bottom: 1px solid black;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


// TODO: pul this out into its own comp
.brand-margin {
  margin-right: 4rem;
}

.brand-img {
  width: 42x;
  height: 42px;
}