.nav-container {
  position: fixed;
  min-width: 100%;
  min-height: 70px;
  z-index: 910;
  background: white;

  @media (min-width: 730px) {
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);
  }
}

.nav-inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
}

.nav-brand-margin {
  margin-right: 4rem;
}

.nav-brand-img {
  width: 42x;
  height: 42px;
}