@import '../../utils/fonts.scss';

.navbar-desktop {
  width: 100%;
  min-height: 70px;
  position: fixed;
  border: 1px solid red;
}

.nav-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-brand {
  margin-right: 2rem;
}

.list-styles {
  display: flex;
  list-style: none;
  gap: 1rem;
}


.wee {
  color: $link-color
}

.wee:hover {
  color: $link-color-hover;
}